.loginContainer {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 20px;
}
.loginBg {
	background: url("https://res.cloudinary.com/dfmnpw0yp/image/upload/v1683095285/Hola%20Holidays/assets/ogirnlqr8zghgfomoyyq.jpg");
	background-position: center;
	background-size: cover;
}
