.adminCustomerEditBg {
	background: url("https://res.cloudinary.com/dfmnpw0yp/image/upload/v1683095609/Hola%20Holidays/assets/rgdjaxe87z9oskrj6dzd.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.denied {
	background: url("https://res.cloudinary.com/bytesquad202202/image/upload/v1660761809/images/accessDenied_zhvugi.jpg");
	background-position: center;
	background-size: cover;
}
