.adminCustomerEditBg {
	background: url("https://res.cloudinary.com/dfmnpw0yp/image/upload/v1681629622/assets/e03klgnmrsh2uz8qtzyt.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.adminVendorEditBg {
	background: url("https://res.cloudinary.com/dfmnpw0yp/image/upload/v1681630047/assets/psqafuzegkmoimkpvvzk.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.denied {
	background: url("https://res.cloudinary.com/bytesquad202202/image/upload/v1660761809/images/accessDenied_zhvugi.jpg");
	background-position: center;
	background-size: cover;
}
