button:hover {
	cursor: pointer;
}

.Navbar {
	width: 100%;
	height: 200px;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	background: #000000;
	background: -webkit-linear-gradient(to top, #434343, #000000);
	background: linear-gradient(to top, #434343, #000000);
}

.Navbar .leftSide {
	flex: 15%;
}

.Navbar .rightSide {
	flex: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.Navbar.rightSide.a:hover {
	color: #a9a9a9;
}
.direct {
	text-decoration: none;
}
.customSwalBtn {
	background-color: rgba(214, 130, 47, 1);
	border-left-color: rgba(214, 130, 47, 1);
	border-right-color: rgba(214, 130, 47, 1);
	border: 0;
	border-radius: 3px;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	font-weight: 500;
	margin: 30px 5px 0px 5px;
	padding: 10px 32px;
}
