.customerList {
	background: rgba(80, 97, 35, 0.61);
	background-repeat: no-repeat;
	min-height: 95vh;
}
.denied {
	background: url("https://res.cloudinary.com/bytesquad202202/image/upload/v1660761809/images/accessDenied_zhvugi.jpg");
	background-position: center;
	background-size: cover;
}
